*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

/* Hero-Section ********************************************************/
.hero-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;

  margin: auto;

  max-width: 1200px;
  width: 100%;
  min-height: 100vh;

  position: relative;
  padding: 20px;
}

/* social-medias */
.social-medias {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  /* gap: 1px; */

  display: flex;
  flex-direction: column;

  border-radius: 0 10px 10px 0;
  /* border: 1px solid black; */
  overflow: hidden;
  transition: 0.3s;
}

.media-links {
  display: flex;
  align-items: center;
  /* background-color: #318ce7ff; */
  transition: 0.3s;

  gap: 10px;

  padding: 15px 8px;
}

.social-medias p {
  display: none;
  opacity: 0;
  visibility: hidden;
  color: white;
  transition: 0.3s;
}

.social-medias {
  overflow: hidden;
}

@media (max-width: 930px) {
  .hero-section {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .social-medias {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .media-links:hover p {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .social-medias .fa-brands {
    color: white;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 930px) {
  .hero-section {
    flex-direction: column;
  }

  .social-medias {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 2px;
  }

  .media-links {
    background-color: rgb(0, 170, 255);
    min-width: 50px;
    max-width: fit-content;
    border-radius: 0 10px 10px 0;
  }

  .hero-image-cover {
    order: 1;
  }

  .hero-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    order: 2;
  }
}

.social-medias .fa-brands {
  font-size: 30px;
}

.social-medias .fa-brands:first-child {
  border-bottom: 0.2px solid white;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-text h1 {
  font-size: 45px;
  color: #313031ff;
}

.frontend-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
}

.frontend-text p {
  color: #464545ff;
}

.hero-section .line {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #464545ff;
}

.hero-text > p {
  max-width: 300px;
  font-size: 16px;
  color: grey;
}

.hero-image-cover {
  border-radius: 32% 68% 33% 67% / 58% 39% 61% 42%;
  width: fit-content;
  background-color: black;

  animation: cover 8s ease-in-out infinite;
  transition: all 8s ease-in-out;
}

.profile-image {
  max-width: 280px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 57% 43% 37% 63% / 58% 57% 43% 42%;

  animation: morph 8s ease-in-out infinite;
  transition: all 8s ease-in-out;
}

/* hero-image-animation */
@keyframes morph {
  0% {
    border-radius: 31% 69% 25% 75% / 66% 39% 61% 34%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  30% {
    border-radius: 62% 38% 63% 37% / 61% 63% 37% 39%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  60% {
    border-radius: 42% 58% 60% 40% / 39% 50% 50% 61%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 31% 69% 25% 75% / 66% 39% 61% 34%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}
@keyframes cover {
  0% {
    border-radius: 42% 58% 60% 40% / 39% 50% 50% 61%;
  }

  30% {
    border-radius: 31% 69% 25% 75% / 66% 39% 61% 34%;
  }

  60% {
    border-radius: 62% 38% 63% 37% / 61% 63% 37% 39%;
  }

  100% {
    border-radius: 42% 58% 60% 40% / 39% 50% 50% 61%;
  }
}

.hero-button {
  padding: 20px 30px;
  background-color: #333233ff;
  width: fit-content;
  color: white;
  border-radius: 15px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  margin-top: 20px;

  cursor: pointer;
}

.hero-button:hover {
  opacity: 0.9;
}

.hero-button .fa-paper-plane {
  font-size: 20px;
}

/* About Section */
.about-section,
section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  max-width: 1200px;
  width: 100%;
  min-height: 100vh;

  margin: 0 auto;
  padding: 80px 20px;
}

.about-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.about-top p {
  max-width: 750px;
  line-height: 23px;
  text-align: justify;
}

.about-top h2 {
  font-weight: 600;
  opacity: 0.7;
}

.skills {
  max-width: 750px;
  width: 100%;
  /* border-top: 1px solid grey; */
  padding-top: 10px;
}

/* Toggle Skills */
.toggle-skills {
  border-bottom: 1px solid grey;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.toggle-skills:hover {
  background-color: rgb(222, 222, 222);
}

.toggle-skills .fa-plus {
  color: rgb(66, 66, 66);
  font-size: 20px;
}

.skills.frontend .fa-plus {
  transform: rotate(45deg);
}

/* Framer Skills */
.skills.nocode img {
  max-width: 80px;
}

.skills.nocode .fa-arrow-right {
  margin-left: 10px;
}

.skills.nocode .skill-item:hover:nth-child(1) {
  background-color: rgb(0, 217, 255);
}

.skills.nocode .skill-item:hover:nth-child(2) {
  background-color: #f76d5eff;
}

.skills.nocode .skill-item:hover:nth-child(3) {
  background-color: #ee9a66ff;
}

/* Toggle Sklills Function */
/* Fronten */
.skills.frontend .fa-plus {
  transform: rotate(0);
}

.skills.frontend .skill-item-container {
  height: 0;
}

.skills.frontend.open .fa-plus {
  transform: rotate(45deg);
}

.skills.frontend.open .skill-item-container {
  height: fit-content;
}

.skills.frontend.open .toggle-skills {
  background-color: rgb(222, 222, 222);
}

/* Nocode */
.skills.nocode .fa-plus {
  transform: rotate(0);
}

.skills.nocode .skill-item-container {
  height: 0;
}

.skills.nocode.open .fa-plus {
  transform: rotate(45deg);
}

.skills.nocode.open .skill-item-container {
  height: fit-content;
}

.skills.nocode.open .toggle-skills {
  background-color: rgb(222, 222, 222);
}

.skills h3 {
  opacity: 0.7;
  /* margin-bottom: 10px; */
}

.skill-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  /* border-bottom: 1px solid grey; */
  height: 0;
  overflow: hidden;
  margin-top: 20px;
}

.skill-item {
  border: 1px solid grey;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  cursor: pointer;
  transition: 0.5s;
}

.skill-item:hover {
  background-color: rgb(42, 42, 42);
  color: white;
  border-color: white;
}

.skill-item:hover:nth-child(1) {
  background-color: #e96228ff;
}

.skill-item:hover:nth-child(2) {
  background-color: #329ed3ff;
}

.skill-item:hover:nth-child(3) {
  background-color: #edba25ff;
}

.skill-item:hover:nth-child(4) {
  background-color: #087a9fff;
}

.skill-item:hover:nth-child(5) {
  background-color: #7010efff;
}

.skill-item:hover:nth-child(6) {
  background-color: #36b7f0ff;
}

.skill-item h2 {
  display: none;
}

.skill-item:hover h2 {
  color: white;
  display: block;
}

.skill-item .fa-brands {
  font-size: 60px;
}

.skill-item:hover .fa-brands,
.skill-item:hover img {
  display: none;
}

.skill-item img {
  width: 100px;
}

/* Project Section */
.project-section {
}

.project-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.project-section h2 {
  font-weight: 600;
  opacity: 0.7;
}

.project-category {
  /* border: 1px solid red; */
  display: flex;
  gap: 3px;
}

.project-category div {
  border-bottom: 3px solid transparent;
  width: 110px;
  text-align: center;
  padding: 5px 0px;

  cursor: pointer;

  transition: 0.3s;
}

.project-category div:hover {
  background-color: rgb(230, 230, 230);
}

.project-category.All div:nth-child(1) {
  border-bottom-color: rgb(103, 204, 255);
  background-color: rgb(230, 230, 230);
}

.project-category.ReactJS div:nth-child(2) {
  border-bottom-color: rgb(103, 204, 255);
  background-color: rgb(230, 230, 230);
}

.project-category.Framer div:nth-child(3) {
  border-bottom-color: rgb(103, 204, 255);
  background-color: rgb(230, 230, 230);
}

/* Project Container */
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  max-width: 800px;
  width: 100%;

  margin-top: 30px;
  gap: 20px;
}

.project-item {
  border: 1px solid rgb(206, 206, 206);

  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;

  padding: 15px;
  border-radius: 10px;
}

.project-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.project-item .top-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-item h3 {
  font-weight: 700;
}

.project-item .project-category {
  background-color: rgb(29, 29, 29);
  padding: 5px 10px;
  border-radius: 20px;
}

.project-item .project-category p {
  font-size: 13px;
  color: white;
  letter-spacing: 0.6px;
}

.project-item button {
  display: flex;
  gap: 8px;

  background-color: transparent;
  font-size: 16px;

  cursor: pointer;
  transition: 0.2s;
}

.project-item button:hover {
  gap: 20px;
}

.project-item button:hover *,
.project-item button:hover .fa-solid {
  color: black;
}

.project-item button p {
  color: rgba(0, 0, 0, 0.7);
}

.project-item button .fa-solid {
  color: rgba(0, 0, 0, 0.4);
}
