*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

/* Hero-Section ********************************************************/
.hero-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;

  margin: auto;

  max-width: 1200px;
  width: 100%;
  min-height: 100vh;

  position: relative;
  padding: 20px;
}

/* social-medias */
.social-medias {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  /* gap: 1px; */

  display: flex;
  flex-direction: column;

  border-radius: 0 10px 10px 0;
  /* border: 1px solid black; */
  overflow: hidden;
  transition: 0.3s;

  background-color: white;
  gap: 1px;
}

.media-links {
  display: flex;
  align-items: center;
  /* background-color: #318ce7ff; */
  transition: 0.3s;

  width: fit-content;
  min-width: 50px;

  gap: 10px;

  padding: 15px 8px;
}

.social-medias p {
  display: none;
  opacity: 0;
  visibility: hidden;
  color: white;
  transition: 0.3s;
}

.social-medias {
  overflow: hidden;
}

.media-links:hover p {
  display: block;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 930px) {
  .hero-section {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .social-medias {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .social-medias .fa-brands {
    color: white;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 930px) {
  .hero-section {
    flex-direction: column;
  }

  .social-medias {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
  }

  .hero-image-cover {
    order: 1;
  }

  .hero-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    order: 2;
  }
}

.social-medias .fa-brands {
  font-size: 30px;
}

.social-medias .fa-brands:first-child {
  border-bottom: 0.2px solid white;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-text h1 {
  font-size: 45px;
  color: #313031ff;
}

.frontend-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
}

.frontend-text p {
  color: #464545ff;
}

.hero-section .line {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #464545ff;
}

.hero-text > p {
  max-width: 300px;
  font-size: 16px;
  color: grey;
}

.hero-image-cover {
  border-radius: 32% 68% 33% 67% / 58% 39% 61% 42%;
  width: fit-content;
  background-color: black;

  animation: cover 8s ease-in-out infinite;
  transition: all 8s ease-in-out;
}

.profile-image {
  max-width: 280px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 57% 43% 37% 63% / 58% 57% 43% 42%;

  animation: morph 8s ease-in-out infinite;
  transition: all 8s ease-in-out;
}

/* hero-image-animation */
@keyframes morph {
  0% {
    border-radius: 31% 69% 25% 75% / 66% 39% 61% 34%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  30% {
    border-radius: 62% 38% 63% 37% / 61% 63% 37% 39%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  60% {
    border-radius: 42% 58% 60% 40% / 39% 50% 50% 61%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 31% 69% 25% 75% / 66% 39% 61% 34%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}
@keyframes cover {
  0% {
    border-radius: 42% 58% 60% 40% / 39% 50% 50% 61%;
  }

  30% {
    border-radius: 31% 69% 25% 75% / 66% 39% 61% 34%;
  }

  60% {
    border-radius: 62% 38% 63% 37% / 61% 63% 37% 39%;
  }

  100% {
    border-radius: 42% 58% 60% 40% / 39% 50% 50% 61%;
  }
}

.hero-button {
  padding: 20px 30px;
  background-color: #333233ff;
  width: fit-content;
  color: white;
  border-radius: 15px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  margin-top: 20px;

  cursor: pointer;
}

.hero-button:hover {
  opacity: 0.9;
}

.hero-button .fa-paper-plane {
  font-size: 20px;
}
